* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
.page {
	width: 1200px;
	margin: auto;
	border-right: 2px dotted #000;
	border-left: 2px dotted #000;
}
.logo {
	display: block;
	width: 180px;
	padding-left: 30px;
	text-align: center;
	color: #000;
}
.logo:hover {
	opacity: .8;
}
.logo span {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
}
.header-nav {
    border: solid #000;
    border-width: 4px 0px;
    padding-left: 30px;
    margin-top: 40px;
}
.header-nav a {
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	color: #000;
}
.header-nav a:hover {
	color: #fff;
	background-color: #000;
}
nav li {
	display: inline-block;
}
.content {
	padding: 30px;
}
p {
	margin: 10px 0px;
	font-size: 22px;
}
h1 {
	font-size: 40px;
	margin: 10px 0px;
}
h2 {
	font-size: 30px;
	margin: 10px 0px;
}
.content img {
	width: 100%;
}
footer {
	background-color: #000;
	color: #fff;
	padding: 30px;
}
.footer-nav {
	text-align: center;
	font-size: 12px;
}
.footer-nav-li {
	padding: 0 10px;
}
.footer-nav a {
	color: #fff;
	text-decoration: none;
}
.footer-nav a:hover {
	border-bottom: 1px dashed #fff;
}