span {
	text-decoration: underline;
	color: #17008b
}
span:hover {
	text-decoration: none;
}
ol {
	text-align: left;
	font-size: 1.2em;
	color: #006400;
}
a{
	color: #006400;
}
a:hover {
	text-decoration: none;
}